
body{
    background-color: papayawhip;
}

.main{
    width: 390px;
    height: 450px;
    border: 1px solid 104746;
    padding: 30px;
    padding-top: 30px;
    margin-inline: auto;
    margin-top: 250px;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 2px 3px burlywood;
}

#result{
    width: 300px;
    font: arial;
    font-size: larger;
    text-align: right;
    background-color: #e2bd6e;
    padding: 30px;
    border: none;
    margin-left: 11px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.darkcolor:hover{
    background-color: #9e8c5a;
    color: #8f662a;
}

.darkcolor:active {
    background-color: #885d25;
    transform: translateY(2px);
}
.darkcolor{
    margin: 3px;
    margin-bottom: 15px ;
    background-color: #73572e;
    width: 87px;
    height: 50px;
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 2px #ddb224;
    cursor: pointer;
}

.lightcolor:hover{
    background-color: #9e895a;
    color: #b9974e;
}
.lightcolor:active {
    background-color: #9e835a;
    transform: translateY(2px);
}
.lightcolor{
    margin: 3px;
    margin-bottom: 15px ;
    background-color: #DAF2F1;
    width: 87px;
    height: 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px #73662e;
    cursor: pointer;
}